
@media all and (max-width: 1200px)
{
   
    .mobilealign
    {
		text-align: left;	
    }
    
    /* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { /*border: 1px solid #ccc;*/ padding-top: 10px; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
	  content: attr(title) ':';
	  display: inline-block;
	  font-weight: bold;
	  padding-right: 5px;
	}
		
	.table-bordered
	{
		border: 0px;	
	}
	
	
}